body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:lightgray;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family:'Courier New', Courier, monospace;

}
.testimonial-container{
  height:400px;
  width:400px;
  background-color:deepskyblue;
  line-height:150%;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.3); 
  color:white;
  position:relative;
  

}


img{
  width:100px;
  height:100px;
  border-radius: 50%;
  position:absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.username {
  font-size: 13px;
  font-weight: 100;
}
.text{
  margin-top:60px;
}